.navbar {
    background-color: #061e2f !important;
    display: flex;

    padding: 20px 5% 20px 5% !important;

}

.navbar-brand .mainTitle {
    margin-right: 0;
    transition: all 0.3s ease-out;
}

.navbar-brand .mainTitle:hover {
    transform: scale(1.01);
}

.mainTitle {

    justify-content: center;
    align-items: baseline;
    color: white !important;
    /* margin-left: 10%; */

}




.mainTitle h1 {
    text-transform: uppercase;
    display: flex;
    margin-bottom: 0 !important;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}



#jobTitle {
    font-size: 100%;
    margin-bottom: 0 !important;
    text-align: center;
    transition: all 0.2s ease-in-out;
    font-family: 'Dosis', sans-serif;
}

.title-hover:hover {
    color: #F7CACA;
    transform: scale(1.01);
}

#title-slash {
    padding: 0 10px 0 15px;
    font-size: 2rem;
    padding-bottom: 0.5rem !important;
}

#navbarNav {

    justify-content: flex-end;
    margin-left: 3%;

}

.nav-item {
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 0.3rem;
   
    font-family: 'Abel', sans-serif;

}

.nav-link {
    color: white !important;
    font-weight: 500;

}

.nav-link:hover {
    color:#F7CACA !important
}

.navbar-toggler {
    border-radius: 90%;
    text-align: center;
    right: 5%;
    background-color: #F7CACA;

}

@media screen and (max-width: 575px) {
    #mobile-brand {
        margin-left: 4.2vw;
        font-family: 'Dosis', cursive;
        font-size: 200%;
    }
}