#projects-section {
   background-color: #00121f !important;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#projects-title {
    color: white;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
}