#projects-section {
   background-color: #00121f !important;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-end;
   padding-top: 15vh;
   
}

#projects-title {
    color: white;
    text-align: center;
    padding: 40px;
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-size: 400%;
}